<template>
  <div>
    <h2>Home</h2>
    <transactions/>
    <edit-transaction/>
  </div>
</template>

<script>
const Transactions = () => import(/* webpackChunkName: "sub-view" */ './Transactions.vue');
const EditTransaction = () => import(/* webpackChunkName: "sub-view" */ './EditTransactions.vue');

export default {
  name: 'Home',
  components: {
    Transactions,
    EditTransaction,
  },
};
</script>
